# NOTE:
#   .dockerignore 是基於 build context 目錄，而不是 Dockerfile 所在的目錄
#   所以 .dockerignore 必須放在 build context 目錄下，而不是 Dockerfile 所在的目錄

# Docker-related files
docker/Dockerfile.dev-env
docker/Docker-compose.dev-env.yml
.dockerignore

# Vagrant-related files
vagrant/*

# IDE/editor-specific files
.idea
.vscode
*.swp

# Logs and debugging output
logs
*.log
debug.log
error.log

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
tmp
temp
*.tmp

# git-related files
.git
.gitignore
